.Banner {
    width:100%;
    background-color: orangered;
    text-align: left;
    height: 75px;
}

.block {
    height: 100px;
}
.center {
    height: 50px;
    text-align: left;
    background-color: blue;
}
